<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>gmaps-photronics-app</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainData</display-name>
    <servlet-name>MainData</servlet-name>
    <servlet-class>backend.MainData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainData</servlet-name>
    <url-pattern>/MainData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XMLHistoryData</display-name>
    <servlet-name>XMLHistoryData</servlet-name>
    <servlet-class>backend.XMLHistoryData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XMLHistoryData</servlet-name>
    <url-pattern>/XMLHistoryData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlateLogData</display-name>
    <servlet-name>PlateLogData</servlet-name>
    <servlet-class>backend.PlateLogData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlateLogData</servlet-name>
    <url-pattern>/PlateLogData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelTransfer</display-name>
    <servlet-name>CancelTransfer</servlet-name>
    <servlet-class>backend.CancelTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelTransfer</servlet-name>
    <url-pattern>/CancelTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetTransfer</display-name>
    <servlet-name>ResetTransfer</servlet-name>
    <servlet-class>backend.ResetTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetTransfer</servlet-name>
    <url-pattern>/ResetTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemOutput</display-name>
    <servlet-name>SystemOutput</servlet-name>
    <servlet-class>backend.SystemOutput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemOutput</servlet-name>
    <url-pattern>/SystemOutput</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectCopyStatus</display-name>
    <servlet-name>RejectCopyStatus</servlet-name>
    <servlet-class>backend.RejectCopyStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectCopyStatus</servlet-name>
    <url-pattern>/RejectCopyStatus</url-pattern>
  </servlet-mapping>
</web-app>